body {
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

/* --------------------------------------------------------------- HEADER ------------------------------------------------- */

header {
  width: 100%;
  height: 72px;
  background: #1c1c1c 0% 0% no-repeat padding-box;
  opacity: 1;
}
nav {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
}
#logo {
  width: 50%;
}
#header-rigth-nav {
  position: relative;
  display: flex;
}
#header-rigth-nav a {
  width: 61px;
  height: 19px;
  text-align: center;
  font: normal normal normal 14px Montserrat;
  color: #ffffff;
  opacity: 0.69;
  text-decoration: none;
  padding: 20px;
}
#header-rigth-nav a:hover {
  border-bottom: 2px solid #e27866;
  color: white;
  opacity: 1;
}

/* --------------------------------------------------------------- ARTICLE 1------------------------------------------------- */

#home {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: url("assets/photo-1480714378408-67cf0d13bc1b.png");
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-blend-mode: darken;
  padding: 60px 20px 140px 20px;
  top: 72px;
  left: 0px;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* -------------------- LEFT SIDE */

#left-text-article-1 {
  width: 651px;
  height: 639px;
  left: 20px;
  position: relative;
}
#text {
  color: white;
  position: relative;
}
#text h1 {
  top: 268px;
  left: 147px;
  width: 430px;
  height: 87px;
  text-align: left;
  font: normal normal 600 36px/43px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.line {
  top: 376px;
  left: 142px;
  width: 84px;
  height: 2px;
  margin-bottom: 25px;
  background-color: white;
}
#text p {
  top: 422px;
  left: 150px;
  width: 651px;
  height: 65px;
  text-align: left;
  font: normal normal 600 16px/23px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}
#text button {
  width: 135px;
  height: 42px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  margin: 25px 0;
  outline: 0;
  cursor: pointer;
}
#text button:hover {
  border: 2px solid #e27866;
}

/* -------------------- RIGHT SIDE */

#form {
  top: 147px;
  left: 892px;
  width: 360px;
  height: 425px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000029;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  border: none;
}
#form h1 {
  top: 147px;
  left: 892px;
  width: 360px;
  height: 57px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
  align-content: center;
  margin: 0;
  font: normal normal 600 20px/24px Montserrat;
}
#form h1 span {
  color: #e27866;
  font: normal normal 600 20px/24px Montserrat;
}
#form fieldset {
  border: none;
  width: 240px;
  margin: 0 auto;
}
#form form fieldset:first-of-type .form-detail-text {
  margin-top: 30px;
}
.form-detail-text {
  text-align: left;
  font: normal normal 600 16px/24px Montserrat;
  letter-spacing: 0px;
  color: #1c1c1c;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 22px;
}
#form form fieldset input {
  outline: none;
  margin-bottom: 29px;
  font-family: "Montserrat";
  padding-bottom: 4px;
  padding-left: 10px;
}
#form form fieldset input[type="text"] {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-size: 12px;
  width: 240px;
}
#form form fieldset input[type="number"] {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-size: 12px;
  width: 240px;
  margin-bottom: 0;
}
#form form fieldset .input-wrap {
  display: flex;
  justify-content: left;
  align-content: center;
  gap: 5px;
}
#form form fieldset label {
  width: 47px;
  height: 11px;
  text-align: left;
  font: normal normal 600 9px/27px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: center;
  display: flex;
}
#form form fieldset .input-wrap .radio-button-input[type="radio"] {
  position: relative;
  width: 15px;
  height: 15px;
  appearance: none;
  outline: none;
  border: 1px solid #41d395;
  border-radius: 50%;
  cursor: pointer;
}

#form
  form
  fieldset
  .input-wrap
  .radio-button-input[type="radio"]:not(:checked) {
  opacity: 0.5;
}

#form
  form
  fieldset
  .input-wrap
  .radio-button-input[type="radio"]:checked
  + .radio-button-label
  span {
  opacity: 1;
}

#form form fieldset .input-wrap .radio-button-input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #41d395;
  border-radius: 50%;
  opacity: 0;
}

#form
  form
  fieldset
  .input-wrap
  .radio-button-input[type="radio"]:checked::before {
  opacity: 1;
}

#form form button {
  background-color: #41d395;
  border: none;
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
}
#form form button:hover {
  background-color: rgb(97, 230, 174);
}

/* --------------------------------------------------------------- Media Bar------------------------------------------------- */

#social-media .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1109px;
  margin: 0 auto;
}
#social-media .container .text {
  width: 394px;
}
#social-media .container .text h2 {
  width: 130px;
  height: 24px;
  text-align: left;
  font: normal normal 600 20px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
#social-media .container .text p {
  top: 759px;
  left: 152px;
  width: 394px;
  height: 38px;
  text-align: left;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #86878b;
  opacity: 1;
}
#social-media .container .media-icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 560px;
}
#social-media .container .media-icon-container .media-icon {
  max-height: 30px;
}
/* --------------------------------------------------------------- FEATURE ------------------------------------------------- */

#feature {
  background-image: url("assets/christoffer-engstrom-503481-unsplash.png"),
    linear-gradient(rgba(226, 120, 102, 0.42), rgba(102, 150, 226, 0.42));
  background-blend-mode: overlay;
  top: 816px;
  left: 0px;
  height: 595px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 85px 0;
}

#feature .feature-container {
  display: flex;
  justify-content: space-evenly;
}

/* -------------------- 3 BUTTONS*/

#feature {
  background-image: url("assets/christoffer-engstrom-503481-unsplash.png"),
    linear-gradient(rgba(226, 120, 102, 0.42), rgba(102, 150, 226, 0.42));
  background-blend-mode: overlay;
  top: 816px;
  left: 0px;
  height: 595px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 85px 0;
  align-content: center;
  justify-self: center;
}
/* -------------------- 3 BUTTONS*/

#feature .feature-left-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 342px;
  position: relative;
  left: 151px;
  padding-right: 100px;
}
#feature .feature-left-button .feature-button-box {
  background: url(./assets/tab_2_button_u85_mouseover.svg);
  top: 943px;
  width: 100px;
  height: 100px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: normal normal 600 14px/20px Montserrat;
}
#feature .feature-left-button .feature-button-box:hover {
  background: url(./assets/tab_1_button_u83_selected.svg);
  top: 943px;
  width: 100px;
  height: 100px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: normal normal 600 14px/20px Montserrat;
}
#feature .feature-left-button .feature-button-box span {
  width: 64px;
  height: 64px;
  font: normal normal 600 14px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  transform: rotate(315deg);
  text-align: center;
  align-content: center;
}

/* -------------------- MIDDLE TEXT */
#swipe-text-container {
  display: flex;
  width: 100%;
  position: relative;
}

#swipe-text-container .swipe-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
#swipe-text-container .swipe-text .text-container {
  margin-bottom: 20px;
  padding-right: 80px;
  color: white;
}
#swipe-text-container .swipe-text .text-container h1 {
  text-align: left;
  font: normal normal 600 36px/40px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 509px;
  height: 124px;
}
#swipe-text-container .swipe-text .text-container p {
  text-align: left;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 517px;
  height: 138px;
}

/* -------------------- MIDDLE IMAGES */

.tab-images-box {
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-container h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 600;
}

.text-container p {
  margin: 0;
  color: #ffffff;
}

.image-cabbages {
  width: 168px;
  height: 168px;
  background-image: url(photo-1493409137604-0901c55e4456.png);
  background-size: cover;
  /* display: inline block; */
  box-sizing: border-box;
}

.image-vegetable-composition {
  width: 168px;
  height: 168px;
  background-image: url(photo-1543364195-bfe6e4932397.png);
  background-size: cover;
  /* display: inline block; */
  box-sizing: border-box;
}

.image-running-stais {
  width: 362px;
  height: 177px;
  background-image: url(photo-1448387473223-5c37445527e7.png);
  margin-top: 20px;
  /* display: inline block; */
  box-sizing: border-box;
}

.image {
  position: relative;
  /* overflow: hidden; */
}

/* .explore {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e27866;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
} */

.image:hover {
  cursor: pointer;
}

.image:hover .explore {
  display: block;
}

.not-displayed {
  display: none;
}
